* {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

html { height: 100%; }

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  display: block;
  cursor: default;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

aside {
  background-color: #252934;
  padding: 5rem 0;
  color: #fff;
}
