* {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  display: block;
  cursor: default;
}

a {
  transition: 0.5s ease all;
}

a:hover {
  color: #02b802;
}

.container {
  display: flex;
}

aside, section.resume {
  padding: 3rem;
}

aside {
  background-color: #252934;
  color: #fff;
  width: 60%;
  box-sizing: border-box;
}

aside a {
  color: #fff;
}

aside h2, aside h3 {
  padding: 1rem;
  background: #1c1f29;
}

article {
}

h2 {
  margin-top: 1rem;
}

article > div {
  margin: 1rem;
}

hr {
  height: 5px;
  background: #02b802;
  margin: 1rem 0;
}

h1 {
  color: #02b802;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
}

h1 span {
  font-size: 1.5rem;
  display: block;
}

h3 {
  margin: 1rem 0
}
ul {
  margin: 0.5rem 2rem;
}

li {
  line-height: 1.5rem
}

.resume > div {
  padding: 0.5rem 0;
}

.sticky-button {
  position: sticky;
  bottom: 0;
  text-align: right;
}
.sticky-button a {
  padding: 1rem 2rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s ease all;
  background-color: transparent;
}
.sticky-button a:hover {
  opacity: 1;
}
svg {
  width: 100px;
  height: 100px;
}
path {
  color: #02b802;
}

@media (max-width:1024px) {
  .container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }
  label {
    display: block;
  }
  aside > div {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 720px) {
  aside > div {
    flex-direction: column  ;
  }
}