$green: #02b802;
$dark: #252934;

a.route-back {
  position: sticky;
  padding: 1rem;
  width: auto;
  top: 1rem;

  svg path {
    transition: 0.5s all ease;
  }

  &:hover {
    svg path {
      fill: $green;
    }
  }
}