@import '../shared/shared-styles.scss';

.text-content {
  padding-top: 0;
}

.post-landing {
  nav {
    max-height: 65vh;
    overflow: auto;
  }

  .back-to-top {
    display: none;
  }
}

nav {
  border-right: 1px solid green;
  min-width: 450px;
  padding-bottom: 5rem;
  transition: 0.5s all ease;

  &.hide {
    position: sticky;
    margin-left: -590px;
  }

  li {
    list-style: none;
    font-size: 1rem;
    text-align: right;
    margin-top: 1rem;
    &:first-child {
      text-align: left;
    }
  
    a {
      padding: 0.5rem;
      display: block;
      text-decoration: none;
      font-weight: 800;
  
      span {
        font-weight: normal;
      }
    }
  }
}

.inner-container {
  max-width: 100%;
}

article {
  margin: 2rem 5rem;
  width: 100%;
  display: flex;
  justify-content: center;

  markdown {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    blockquote {
      border-left: 2px solid #ccc;
      color: #ccc;
      background: #1a1d25;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.expand-collapse-menu {
  position: sticky;
  bottom: 0;
  left: 0;
  float: left;
  margin-right: -1.5rem;
  background: transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s all ease;
  padding: 1rem;

  &.hide {
    transform: rotate(-180deg);
  }

  &:hover {
    opacity: 1;
  }
}

.back-to-top {
  position: sticky;
  bottom: -4rem;
  display: block;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  background: green;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.8;
  transition: 0.5s all ease;
  float: right;
  display: flex;
  align-items: center;

  span {
    padding-left: 0.5rem;
  }

  &.show {
    bottom: 0;
  }

  &:hover {
    opacity: 1;
  }
}