@import '../shared/shared-styles.scss';


li {
  list-style: none;
  text-align: right;
  margin-top: 1rem;;

  a {
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-weight: 800;

    span {
      font-weight: normal;
    }
  }
}

li:first-child {
  text-align: left;
}

.inner-container {
  max-width: 100%;
}

.no-content .inner-container {
  min-width: 100%;
  justify-content: space-evenly;

  > div {
    align-self: center;
  }

  nav {
    max-height: 80vh;
    overflow: auto;
    padding-right: 2rem;
  }
}

.mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-content.mat-sidenav-content {
  background-color: $dark;
}

.mat-drawer {
  background: $dark;
  width: 800px;
}

.mat-button {
  background: transparent;
  border: 1px solid white !important;
}
