<div *ngIf="postContent$ | async as postContent">
    <section class="text-content" [ngClass]="{'post-landing': !postName}">
        <a class="route-back" [routerLink]="postName ? '/blatherings' : ''">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="white" d="M11.92,19.92L4,12L11.92,4.08L13.33,5.5L7.83,11H22V13H7.83L13.34,18.5L11.92,19.92M4,12V2H2V22H4V12Z" />
            </svg>
        </a>
        <header>
            <h1>Blatherings</h1>
            <h2>musings, and contemplations.</h2>
        </header>
        <div class="search-box">
            <div class="inner-search-box">
                <input type="text" placeholder="Search by name, date, or tag" [formControl]="searchField">
                <ng-container *ngIf="displayPosts$ | async as menuItems">
                    <nav>
                        <ul>
                            <li *ngFor="let item of menuItems">                                
                                <a routerLink="/blatherings/{{item.name}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <p>{{item.date}}</p>
                                    <p><strong>{{item.title}}</strong></p>
                                    <p><em>Tags: {{item.tags}}</em></p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </div>
        </div>
    </section>
    <sw-footer></sw-footer>
</div>
