<div *ngIf="postContent$ | async as postContent">
    <mat-sidenav-container class="mat-container" *ngIf="postName; else nocontent">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened">
            <nav *ngIf="menuItems$ | async as menuItems">
                <ul>
                    <li><a routerLink="">Back</a></li>
                    <li *ngFor="let item of menuItems"
                    (click)="sidenav.toggle()">
                        <a routerLink="/blatherings/{{item.name}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <span>{{item.date}}</span><br>
                            {{item.title}}
                        </a>
                    </li>
                </ul>
            </nav>
        </mat-sidenav>
    
        <mat-sidenav-content>
            <mat-button-toggle
                value="left"
                aria-label="Text align left"
                (click)="sidenav.toggle()"
                [(ngModel)]="opened"
                >
                <mat-icon>chevron_right</mat-icon>
            </mat-button-toggle>
        <main>
            <section class="text-content">
                <div class="inner-container">
                    <div>
                        <markdown [data]="postContent"></markdown>
                    </div>
                </div>
            </section>
            <section></section>
            <sw-footer></sw-footer>
        </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <ng-template #nocontent>
        <main>
            <section class="text-content no-content">
                <div class="inner-container">

                    <nav *ngIf="menuItems$ | async as menuItems">
                        <ul>
                            <li><a routerLink="">Back</a></li>
                            <li *ngFor="let item of menuItems">                                
                                <a routerLink="/blatherings/{{item.name}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                                    <span>{{item.date}}</span><br>
                                    {{item.title}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <markdown [data]="postContent"></markdown>
                    </div>
                </div>
            </section>
            <section></section>
            <sw-footer></sw-footer>
        </main>
    </ng-template>
</div>
